{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block body_tag %}
<body id="blog">
{% endblock %}
{% block body %}

<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed blog-content">
  <div class="am-u-sm-12">
    <h1 class="blog-text-center">-- 时间轴 --</h1>
    {% for year in timeline %}
    <div class="timeline-year">
      <h1>{{ year.year }}</h1>
      <hr>
      {% for month_dict in year.year_group %}
        <ul>
          <h3>{{ month_dict.month }}月</h3>
          <hr>
          {% for article in month_dict.articles %}
            <li>
              <span class="am-u-sm-4 am-u-md-2 timeline-span">{{ article.create_time|date:"Y-m-d" }}</span>
              <span class="am-u-sm-8 am-u-md-6"><a href="{% url 'blog:article' art_date=article.create_time|date:"Ymd" pinyin_title=article.pinyin_title %}">{{ article.title }}</a></span>
              <span class="am-u-sm-4 am-u-md-2 am-hide-sm-only">{{ article.classify.name }}</span>
              <span class="am-u-sm-4 am-u-md-2 am-hide-sm-only">张浩然</span>
            </li>
          {% endfor %}
        </ul>
        <br>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>
<!-- content end -->
{% endblock %}

</html>
